In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [ ]:
link = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
df_titanic = pd.read_csv(link)

In [ ]:
df_titanic['Survived'] = df_titanic['Survived'].apply(lambda x: 'did not survive' if x == 0 else 'survived')

 A partir de ce dataset :

- Tu vas effectuer une classification supervisée sur la colonne "survived", en effectuant un traintestsplit (sans fixer le random_state), puis un classifieur de ton choix (knn, decision tree, régression logistique, etc...). Tu dois faire apparaitre clairement l'accuracy score du jeu d'entrainement et celui du jeu de test.

- Dans un nouveau bloc de code, tu vas effectuer exactement la même étape que précédemment. Comme tu n'as pas fixé le random_state, le score devrait être différent.

- Avec ce même classifier, tu vas lancer une crossvalidation avec un découpage en 6 parties. La CrossValidation renforce-t-elle votre confiance dans cette prédiction ?

- Tu vas calculer la moyenne et l'écart-type des 6 scores obtenus.

In [ ]:
df_titanic.head()

          Survived  Pclass  ... Parents/Children Aboard     Fare
0  did not survive       3  ...                       0   7.2500
1         survived       1  ...                       0  71.2833
2         survived       3  ...                       0   7.9250
3         survived       1  ...                       0  53.1000
4  did not survive       3  ...                       0   8.0500

[5 rows x 8 columns]

In [ ]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    object
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 55.6+ KB

Tu vas effectuer une classification supervisée sur la colonne "survived", en effectuant un traintestsplit (sans fixer le random_state), puis un classifieur de ton choix (knn, decision tree, régression logistique, etc...). Tu dois faire apparaitre clairement l'accuracy score du jeu d'entrainement et celui du jeu de test.

In [ ]:
# Column 'sex' to numeric : male = 0 , female = 1
df_titanic['Sex'] = df_titanic['Sex'].factorize()[0]

In [ ]:
df_titanic.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [ ]:
# Select features (X) with only numeric values, and without "Survived" column
# Select "Survived" column as target (y)

X = df_titanic[["Fare", "Age", "Parents/Children Aboard", "Siblings/Spouses Aboard", "Pclass"]]
y = df_titanic['Survived']

In [ ]:
# Split your data :

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.75)
print("The length of the initial dataset is :", len(X))
print("The length of the train dataset is   :", len(X_train))
print("The length of the test dataset is    :", len(X_test))

The length of the initial dataset is : 887
The length of the train dataset is   : 665
The length of the test dataset is    : 222

In [ ]:
# Train a logistic regression :

model = LogisticRegression().fit(X_train, y_train)

In [ ]:
# Print the accuracy score on the train set and on the test set.

print("\nScore of Train dataset :", model.score(X_train, y_train))
print("Score of Test dataset :", model.score(X_test, y_test))

Score of Train dataset : 0.7127819548872181
Score of Test dataset : 0.6846846846846847

Même étape que précédemment. Vérifier que les scores obtenus sont différents.

In [ ]:
# Select features (X) with only numeric values, and without "Survived" column
# Select "Survived" column as target (y)

X = df_titanic[["Fare", "Age", "Parents/Children Aboard", "Siblings/Spouses Aboard", "Pclass"]]
y = df_titanic['Survived']

In [ ]:
# Split your data :

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.75)
print("The length of the initial dataset is :", len(X))
print("The length of the train dataset is   :", len(X_train))
print("The length of the test dataset is    :", len(X_test))

The length of the initial dataset is : 887
The length of the train dataset is   : 665
The length of the test dataset is    : 222

In [ ]:
# Train a logistic regression :

model = LogisticRegression().fit(X_train, y_train)

In [ ]:
# Print the accuracy score on the train set and on the test set.

print("\nScore of Train dataset :", model.score(X_train, y_train))
print("Score of Test dataset :", model.score(X_test, y_test))

Score of Train dataset : 0.6932330827067669
Score of Test dataset : 0.7117117117117117

Avec ce même classifier, tu vas lancer une crossvalidation avec un découpage en 6 parties. La CrossValidation renforce-t-elle votre confiance dans cette prédiction ?

In [ ]:
cross = cross_val_score(LogisticRegression(), 
                X, y, 
                cv = 6)

In [ ]:
cross

array([0.62837838, 0.68918919, 0.71621622, 0.69594595, 0.7027027 ,
       0.71428571])

Les 6 résultats obtenus sont assez proches de la prédiction.

Tu vas calculer la moyenne et l'écart-type des 6 scores obtenus.

In [ ]:
# Moyenne :

mean_cross = cross.mean()

In [ ]:
mean_cross

0.6911196911196912

In [ ]:
# Ecart-type :

In [ ]:
std_cross = cross.std()

In [ ]:
std_cross

0.029620258429089396